.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    background-color: #fff;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem;
    text-align: center;
}
.card-body img {
    width: 200px;
}
.card-body h4 {
    font-size: 2rem;
}
.card-body p {
    font-size: 1.25rem;
}
.card-body button {
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
}
.text-color-red {
    color: red;
}